.profile-image-custom{
    height : 120px;
    width : 120px
}

.profile-header-button{
    display: flex;
  
}
.imageROund-friend{
    border-radius: 50px;
}

.icon-Bg-friends{
background-color: #dedefd;
border-radius: 50px;
}


.gallery-image-size{
    height: 150px;
    width: 200px;
    max-width: 400px;
    max-height: 350px;
}

.gallery-item {
    width: 200px;
    padding: 5px;
  }
  