.profile-image-custom{
    height : 120px;
    width : 120px
}

.profile-header-button{
    display: flex;
  
}
.imageROund-friend{
    border-radius: 50px;
}

.icon-Bg-friends{
background-color: #dedefd;
border-radius: 50px;
}